
body {
    font-family: 'Libre Franklin', sans-serif;
    --font-sans: 'Libre Franklin';
    background: #FFFCF2;

    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;


}

.container {

    padding-bottom: 100px;
}

.settings_birzha {

    display: flex;
    font-size:30px;
    font-weight: 700;
    justify-content: center;
    color: #000000;
    padding-bottom: 40px;
}

.hello_you {
    font-weight: 700;
    display: flex;
    font-size: 30px;
    justify-content: center;
    color: #000000;
}

.birzha_selector_block {
    width: 370px;
    height: 70px;
    background: #F5F2EA;
    border-radius: 1em;

    padding: 5px;
    float: left;
}
.birzha_selector_block:active{
    background: #999494;
    transition: background 0.5s;
}


.FL_block {
    display: inline-block;

}

.exchanges-toggle__img_fl {
    padding-left: 10px;
    padding-top: 2px;
    width: 70px;


}

.img_fl {

    height: 65px;


}

.span_div_fl {
    position: relative;
    bottom: 75px;
    left: 100px;


}

.span_fl {
    font-size: 25px;
    text-align: left;

}

.toggle input[type=button] {

    font-size: 15px;
    font-weight: 500;


    text-decoration: none;
    color: #212529;
    background-color: #F5F2EA;
    background-clip: padding-box;
    border: 1px solid #999494;
    box-shadow:  -3px 3px 7px #bdbdbd;
    left: 270px;
    bottom: 140px;
    position: relative;
    width: 82px;
    height: 42px;

    border-radius: 0.5rem;
    cursor: pointer;


}
.toggle input[type=button]:hover{
    background-color: #357838;
    transition: background-color 0.5s;
}
.toggle input[type=button]:active{
    background-color: #66bb6a;
}
.choices {
    padding-top: 30px;
    padding-left: 5px;
    width:100%;
}

.choices__label {
    padding-bottom: 10px;
}

.choices__info {
    padding-bottom: 10px;
}
.budget__label{
    padding-bottom: 10px;
}
.input__badwords {
    display: block;

    width: 90%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #F5F2EA;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.choices__input {
    padding-bottom: 20px;
}

.keywords__container_button {
    padding-bottom: 10px;
}

.add-button {

    width: 97.4%;
    height: 50px;
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;

    color: #ffffff;
    background-color: #000000;
    box-shadow:  -4px 4px 5px #999494;;
    border: 1px solid #000000;
    border-radius: 0.3rem;

}

.switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
    left: 290px;
    bottom: 55px;
}

.switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked + .slider {
    background-color: #66bb6a;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


.category__header-reset {
    font-size: 15px;
    font-weight: 700;
    font-family: mulish, sans-serif;
    position: relative;
    width: 132px;
    height: 42px;

    background-color: #D9E1E5;
    border-radius: 15px;
    border-color: #D9E1E5;

}

.category__header-middle {
    padding-bottom: 20px;
    padding-top: 30px;
}



